.App {
  text-align: center;
  background-color: #61dafb;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.Timer{

  justify-items: center;
  color: white;
}
.Nav{
  box-sizing: border-box;
  
}
body{
  box-sizing: border-box;
  background-color: green;
}
.Navb{
 display: flex;
 justify-content: space-around;
 list-style: none;
 box-sizing: border-box;
 height: 50%;
 width: 100%;
 background-color: #e4e4e4;
 margin-top: -1px;
  
  
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
